<div>
    <form>
      <label for="nome">Nome: </label>
      <input type="text" name="nome" [(ngModel)]="cliente.nome"> <br>
  
      <label for="cpf">CPF: </label>
      <input type="text" name="cpf" [(ngModel)]="cliente.cpf"> <br>
  
      <label for="cep">CEP: </label>
      <input type="text" name="cep" [(ngModel)]="cliente.cep" (blur)="VerificaCEP()"> <br>
  
      <label for="logradouro">Logradouro: </label>
      <input type="text" name="logradouro" [(ngModel)]="cliente.endereco"> <br>
  
      <div *ngIf="!cliente.CPFValido()">
        CPF Inválido
      </div>
  
      <div>
        <button type="button" (click)="salvar()" value="Salvar" [disabled]="!cliente.CPFValido()">Salvar</button>
      </div>

      <div>
        <button type="button" (click)="lerClientes()" value="Retorna Clientes">Retorna Clientes</button>
      </div>

      <div>
        <!-- <input type="text" [(ngModel)]="cliente.id"> -->
        <button type="button" (click)="lerCliente('-NCwjKLy9NLcMVnH-umf')" value="Retorna um Cliente">Retorna um Cliente</button>
      </div>

      <div>
        <button type="button" (click)="novoCliente()" value="Retorna um Cliente">Cria um Cliente</button>
      </div>

      <div>
        <button type="button" (click)="alteraCliente()" value="Altera um Cliente">Altera um Cliente</button>
      </div>

      <div>
        <button type="button" (click)="excluirCliente()" value="Deletar um Cliente">Deletar um Cliente</button>
      </div>
  
    </form>
  </div>
